<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css"/>
    <meta charset="UTF-8">
    <title>Taco design</title>
    <link rel="stylesheet" th:href="@{../styles/styles.css}"/>
</head>
<body>
<h1>Design your taco!</h1>
<img th:src="@{/images/TacoCloud.jpg}" width="100" height="100"/>

<form method="POST" th:object="${taco}">
    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">
    </span>
    <div class="grid">
        <div th:each="ingredientGroup : ${ingredients}" class="ingredient-group">
            <!--/*@thymesVar id="ingredientGroup" type="java.util.Map.Entry"*/-->
            <h3 th:text="${#messages.msgOrNull('formField.select_' + ingredientGroup.key)} ?: _">Select your ingredient:</h3>
            <div th:each="ingredient : ${ingredientGroup.value}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}"/>
            </div>
        </div>
    </div>

    <div>
        <h3>Name your taco creation:</h3>
        <div th:replace="fragments::form-field ('name')"/>
        <input type="submit" value="Submit your taco"/>
    </div>
</form>
</body>
</html>